# dbt
target/
dbt_packages/
logs/
state/

#Secrets
rsa_key.p8
rsa_key.pub

# Test dir
TPCH_SF1/

#Python
venv/
.venv/
__pycache__/

# OS
.DS_Store

# VSCODE 
.vscode/

./marketing_insights/profiles.yml

